*{
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}
.banner{
    background: rgba(255, 144, 14, 0.10);
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto;
    padding: 35px 0;
    width: 1200px;
}
.menu-logo{
    color: var(--dark-01, #131313);
    text-align: center;
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.menu-items{
    display: flex;
    justify-content: space-around;
}
.menu-items li{
    margin-right: 15px;
    list-style: none;
}
.menu-items li a{
    text-decoration: none;
    color: var(--dark-02, #424242);
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px; /* 144.444% */
}
.banner-container{
    
    margin: 0 auto;
    display: block;
    align-items: center;
}
.banner-container h1{
    color: var(--dark-01, #131313);
    width: 862px;
    text-align: center;
    font-family: Work Sans;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    /* width: 862px; */
}
.banner-container p{
    color: var(--dark-03, #727272);
    /* width: 862px; */
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}
@media  screen and (max-width:576px) {
    .menu{
        width: 576px;
    }
}