/* shared contnets */
*{
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}
.btn-primary{
    margin: 25px;
    padding: 15px 30px;
    border-radius: 8px;
    background: #FF900E;
    color: #fff;
    font-size: 17px;
    border: 1px solid #FF900E;
    cursor: pointer;
}
.btn-primary:hover{
   
    background: #fff;
    color: #FF900E;
    font-size: 17px;
    border: 1px solid #FF900E;
}
/* banner starts */
.banner{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto;   
}
.menu-logo{
    color: var(--dark-01, #131313);
    text-align: center;
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.menu-items{
    display: flex;
    justify-content: space-around;
}
.menu-items li{
    margin-right: 15px;
    list-style: none;
}
.menu-items li a{
    text-decoration: none;
    color: var(--dark-02, #424242);
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px; /* 144.444% */
}
.banner-container{
    
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-container .banner-title{
    color: var(--dark-01, #131313);
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.banner-container .banner-description{
    color: var(--dark-03, #727272);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}
.banner-img img{
    width: 100%;
}
/* Responsive Devices */
/* Mobile Devices */
@media  screen and (max-width:576px) {
    .menu{
        flex-direction: column;
    }
    .banner{
        padding: 20px;
    }
}

/* Tablet and Middle screen devices */

@media screen and (min-width:576px) and (max-width:960px){
    .menu{
        flex-direction: column;
    }
    .banner{
        padding: 50px;
    }
}